{% extends 'starter-template.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid bg-danger-faded text-left text-dark py-1 title-size"><strong>Course Title</strong> </div>
    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 p-0 m-0">
                <div class="embed-responsive embed-responsive-16by9 mb-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/qPJHB4EXwgw"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div>
                    <ul class="nav nav-tabs nav-tabs-style-5 nav-tabs-bordered nav-pills-style" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#notes" data-toggle="tab" role="tab">
                                <i class="fe-icon-file-text"></i>
                                &nbsp;Notes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#post-doubt" data-toggle="tab" role="tab">
                                <i class="fe-icon-activity"></i>
                                &nbsp;Post a Doubt
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#test" data-toggle="tab" role="tab">
                                <i class="fe-icon-life-buoy"></i>
                                &nbsp;Quick Test
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#references" data-toggle="tab" role="tab">
                                <i class="fe-icon-book-open"></i>
                                &nbsp;References
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#instructor" data-toggle="tab" role="tab">
                                <i class="fe-icon-book-open"></i>
                                &nbsp;Instructor
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content border ml-4">
                        <div class="tab-pane fade show active" id="notes" role="tabpanel">
                            <p class="text-muted">Raw denim you probably haven't heard ...</p>
                        </div>
                        <div class="tab-pane fade" id="post-doubt" role="tabpanel">
                            <p class="text-muted">Food truck fixie locavore, accusamus...</p>
                        </div>
                        <div class="tab-pane fade" id="test" role="tabpanel">
                            <p class="text-muted">Food truck fixie locavore, accusamus...</p>
                        </div>
                        <div class="tab-pane fade" id="references" role="tabpanel">
                            <p class="text-muted">Food truck fixie locavore, accusamus...</p>
                        </div>
                        <div class="tab-pane fade" id="instructor" role="tabpanel">
                            <p class="text-muted">Food truck fixie locavore, accusamus...</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 border-left">
                <div class="accordion border-left" id="accordion1">
                    <div><h6 class="block-title text-center mt-2">Course Content</h6></div>
                    <!-- Card -->
                    <div class="card">
                        <div class="card-header">
                            <h6>
                                <a class="collapsed" href="#collapseOne" data-toggle="collapse">
                                    <i class="fe-icon-volume-2"></i>Collapsible Group Item #1
                                </a>
                            </h6>
                        </div>
                        <div class="collapse" id="collapseOne" data-parent="#accordion1">
                            <div class="card-body">
                                <nav class="list-group">
                                    <a class="list-group-item" href="#">Cras justo odio</a>
                                    <a class="list-group-item " href="#">Dapibus ac facilisis (active)</a>
                                    <a class="list-group-item" href="#">Morbi leo risus</a>
                                    <a class="list-group-item " href="#">Vestibulum at eros (disabled)</a></nav>
                            </div>
                        </div>
                    </div>
                    <!-- Card -->
                    <div class="card">
                        <div class="card-header">
                            <h6>
                                <a class="collapsed" href="#collapseThree" data-toggle="collapse">
                                    <i class="fe-icon-mic"></i>Collapsible Group Item #3
                                </a>
                            </h6>
                        </div>
                        <div class="collapse" id="collapseThree" data-parent="#accordion1">
                            <div class="card-body">
                                <div class="opacity-75">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                    anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus dolores eos qui ratione voluptatem.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
