{% extends 'starter-template.html' %}

{% block content %}
    <div class="container py-5">
      <div class="box-shadow bg-white py-5 px-4 mt-30">
        <div class="text-center my-auto"><a class="navbar-brand d-inline-block logo-font mb-5 text-accent" style="margin-left: 0;" href="index.html">Comfort learnings</a>
          <h2 class="block-title text-uppercase mb-5">Launching Soon</h2>
          <p class="text-muted mb-1">Have no fear, we are launching soon!</p>
          <p class="text-muted">We just have to dot the i's and cross the t's.</p>
          <div class="py-4">
            <div class="countdown countdown-style-2 h4" data-date-time="10/10/2020 12:00" data-labels="{&quot;label-day&quot;: &quot;Days&quot;, &quot;label-hour&quot;: &quot;Hours&quot;, &quot;label-minute&quot;: &quot;Mins&quot;, &quot;label-second&quot;: &quot;Secs&quot;}"></div>
          </div>
          <div class="row justify-content-center pb-5">
            <div class="col-lg-7 col-md-9 col-sm-11">
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
